server:
  port: 8888
  servlet:
    context-path: /highset
  tomcat:
    uri-encoding: UTF-8
    threads:
      max: 1000
      min-spare: 30

spring:
  #数据源
  datasource:
    url: jdbc:postgresql://139.9.47.39:8888/vbcrm?currentSchema=vbcrm
    username: vbcrm
    password: Vbcrm@2021
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

  redis:
    host: 127.0.0.1
#    password: 1qaz4321
    database: 0
    port: 6379

# 需要验证码校验的接口路径 支持通配符 自动过滤拦截校验 无需开发人员再次校验
captcha:
  # 图片验证码验证
  image:
    - /highset/login # 登录接口
    - /highset/social/relate # 绑定第三方账号

# 忽略鉴权url
ignored:
  urls:
    - /login
    - /permission/edit
    - /common/needLogin
    - /common/captcha/init
    - /common/captcha/draw/**
    - /druid/**
    - /swagger-ui.html
    - /swagger-resources/**
    - /swagger/**
    - /**/v2/api-docs
    - /**/*.js
    - /**/*.css
    - /**/*.png
    - /**/*.ico
# Actuator
management:
  health:
    status:
      http-mapping:
        DOWN: 200
        OUT_OF_SERVICE: 200
        FATAL: 200
        UNKNOWN: 200
    # 暂未用到ES 关闭其健康检查
    elasticsearch:
      enabled: false
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      base-path: /highset/actuator/
      exposure:
        include: '*'

#mybatis-plus
mybatis-plus:
  #全局配置
  global-config:
    #数据库配置
    db-config:
      # 删除标志
      logic-delete-field: del_flag
      # 逻辑删除值
      logic-delete-value: 1
      # 逻辑未删除值
      logic-not-delete-value: 0
  #mybatis-plus
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath*:mapper/*.xml